<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<title>活动详情</title>
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/detail.css">
</head> 
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">活动详情</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">首页</a></li>
            <li><a href="#">发起活动</a></li>
            <li><a href="#">我发起的活动</a></li>
            <li><a href="#">我参与的活动</a></li>
            <li><a href="#">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>

	<div class="wrap">
		<div class="row">
	        <div class="col-sm-3 col-md-2 sidebar">
	          <ul class="nav nav-sidebar">
	            <li class="active"><a href="#">中山大学</a></li>
	            <li><a href="#">华南理工大学</a></li>
	            <li><a href="#">暨南大学</a></li>
	            <li><a href="#">华南师范大学</a></li>
	          </ul>
	          <ul class="nav nav-sidebar">
	            <li><a href="">广州大学</a></li>
	            <li><a href="">广东外语外贸大学</a></li>
	            <li><a href="">广州中医药大学</a></li>
	            <li><a href="">广东药学院</a></li>
	            <li><a href="">广东工业大学</a></li>
	          </ul>
	          <ul class="nav nav-sidebar">
	            <li><a href="">广州美术学院</a></li>
	            <li><a href="">星海音乐学院</a></li>
	          </ul>
	        </div>
        </div>
		<div class="container">
			<div class="page-header"></div>
			<h2>1758舞会</h2>
			<hr>
			<div class="jumbotron">
		        
		        <h4>活动介绍</h4>
		        <p>中山大学“翩翩喜欢你·1758”舞会，是由中山大学法学院学生会、软件学院学生会、传播与设计学院学生会和信息科学与技术学院学生会四个学院联合举办的大型文娱舞会。从2007年至今，1758已经成功举办了六届。因其浪漫的主题与氛围，一直都是情侣与单身贵族极度关注的活动。每年在中山大学传播与设计学院门前广场，中大学子都在此体验一年一度的美妙平安夜。</p>
		        <img src="../static/images/example3.jpg" alt="example3">
		        <img src="../static/images/example4.jpg" alt="example4">
		        

		        <div class="row marketing">
			        <div class="col-lg-6">
			            <h4>活动时间</h4>
			            <p>12月21日20:00-23:00</p>

			            <h4>活动地点</h4>
			            <p>传设院门前小广场</p>

			            <h4>参与人数</h4>
			            <p>500人以上</p>

			            <h4>活动发起人</h4>
			            <p>XXXX</p>
			        </div>
			    </div>

			    <p><a class="btn btn-lg btn-success" href="#" role="button">参与该活动</a></p>
		    </div>
			

			<h3>活动评论</h3>
			<hr>
			<div class="panel panel-success">
				  <div class="panel-heading">
						<h3 class="panel-title">林在华</h3>
				  </div>
				  <div class="panel-body">
						<p>感谢1758让我遇见另一半！</p>
						<p class="text-right date">时间XX月XX日</p>
				  </div>
			</div>
			
			<div class="panel panel-success">
				  <div class="panel-heading">
						<h3 class="panel-title">刘健诚</h3>
				  </div>
				  <div class="panel-body">
						<p>1758好多吃的啊，吃得我好饱。</p>
						<p class="text-right date">时间XX月XX日</p>
				  </div>
			</div>
			
			<form role="form">
			    <div class="form-group">
			    	<label for="comment">添加评论</label>
			    	<textarea class="form-control" id="comment" rows="3" required></textarea>
			    </div>
			    <button type="submit" class="btn btn-default">提交</button>
			</form>
		</div>
	</div>
		
	<footer class="bs-docs-footer" role="contentinfo">
        <div class="container">
            <div class="text-center">© 2014 yuema, all rights reserved </div>
        </div>
    </footer>

	<script src="../static/js/jquery-2.1.3.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/detail.js"></script>
</body>
</html>