<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
	<title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
    <div class="container">

        <div class="page-header">
            <div class="logo"></div>
        </div>
        
        <form role="form">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-success">登录</button>
        </form>

    </div>

    <footer class="bs-docs-footer" role="contentinfo">
        <div class="container">
            <div class="copyright">© 2014 yuema, all rights reserved </div>
        </div>
    </footer>

    <script src="../static/js/jquery-2.1.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>